# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
testem.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dependencies
node_modules

# dotenv environment variables file
.env
.env.*
!.env.example


# IDEs and editors
/.idea
*.swp
.history
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings

# System Files
.DS_Store
Thumbs.db
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
Desktop.ini

.angular
.nx